<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>hp.gg</title>
</head>
<body>
    <header>
        <h1 class="container">hp.gg</h1>
    </header>
    <main class="container">
        <form action="/search">
            <input type="text" name="user-name" placeholder="전적을 검색할 소환사 이름 입력" required>
            <button>전적 검색</button>
        </form>
    <main>
</body>
</html>